<div class="row">
  <div class="dashboard">
    <h2>Welcome, {{req.session.user_name}}!</h2>
  </div>
</div>
<h1 class="review">Create your review</h1>
<form id="review-input">
  <textarea
    id="text-area"
    name="text-area"
    rows="10"
    cols="100"
    form="review-input"
  ></textarea>



  <button id="review-btn" type="submit">Submit</button>
</form>
<script src="./js/review.js"></script>