<h1 class="review">Create your review</h1>
<form id="review-input">
  <textarea id="text-area" name="text-area" rows="10" cols="100" form="review-input"></textarea>
  
  <button id="review-btn" type="submit">Submit</button>
</form>