<div classs="loginContainer">
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Password">
    <button id="loginBtn" type="submit">Login</button>
    <button id="signupBtn">Sign Up</button>
</div>