<div class="row split login-container">
  <div class="col-md-6">
    <h2>Login to Your Account</h2>
    <form class="form login-form" onsubmit="false">
      <div class="form-group">
        <input
          class="form-input"
          type="text"
          id="email-login"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          class="form-input"
          type="password"
          id="password-login"
          placeholder="Password"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          type="submit"
          id="loginbtn"
        >Login</button>
      </div>
    </form>
  </div>
</div>
<div class="split signup-container" id="signup-container">
  <div class="signup-slider">
    <h2 class="signbackin" id="noMember">Not A Member?</h2>
    <h2 class="signbackin hide" id="signBackIn">Sign In</h2>
    <button class="btn btn-primary" id="registerbtn"><span id="test">Register
        Today</span></button>

  </div>
</div>
<form class="form signup-form" id="registerContainer">
  <h2>Create Account</h2>
  <div class="form-group">
    <input class="form-input" type="text" id="name-signup" placeholder="Name" />
  </div>
  <div class="form-group">
    <input
      class="form-input"
      type="text"
      id="email-signup"
      placeholder="Email"
    />
  </div>
  <div class="form-group">
    <input
      class="form-input"
      type="password"
      id="password-signup"
      placeholder="Password"
    />
  </div>
  <div class="form-group">
    <input
      class="form-input"
      type="password"
      id="confirm-password"
      placeholder="Confirm Password"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" id="signupbtn">Sign Up</button>
  </div>
</form>

<script src="./js/login.js"></script>