<h1>Welcome to the sign up page!</h1>

<div class="container">
   <div class="signUp">
    <h3>Create a username and password.</h3>

    <form class="signUp-form">
      <div class="form">
        <label for="email-signUp">email:</label>
        <input type="text" id="email-signUp" />
      </div>
      <div class="form">
        <label for="password-signUp">password:</label>
        <input type="text" id="password-signUp" />
      </div>
      <div class="form">
        <button id="signUp-button" type="submit">SIGN UP</button>
      </div>
    </form>
  </div>

</div>