body {
  font-family: "Rubik", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  opacity: 1;
  transition-duration: 0.8s;
  transition-property: opacity;
}
body.fade {
  opacity: 0;
}
input {
  display: block;
  width: 80%;
  margin: 10px 0;
  padding: 10px;
}
#logo {
  font-size: small;
  text-align: center;
}
.hide {
  transition: transform 0.8s ease-in-out;
  display: none;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.signbackin {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
.expandedText {
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
  text-align: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.login-container {
  top: 20%;
  left: 0;
  text-align: center;
}
.signup-container {
  background-image: linear-gradient(rgb(142, 210, 241), rgb(43, 159, 236));
  right: 0;
  text-align: center;
}
.registerContainer {
  width: 100%;
}
.signup-slider {
  margin-top: 25%;
}
.signup-form {
  position: absolute;
  top: 20%;
  right: 10%;
  text-align: center;
  width: 40%;
}
.moveside {
  position: absolute;
  transform: translate(-100%, 0px);
  transition: transform 0.8s ease-in-out;
}
.moveback {
  transform: translate(0px, 0px);
  transition: transform 0.8s ease-in-out;
}
.form-input {
  padding: 20px;
  margin-left: 20px;
}
#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup, 
#confirm-passowrd {
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}
#loginbtn {
  position: relative;
  background-color: rgb(101, 167, 241);
  width: 45%;
  height: 35px;
  border-radius: 25px;
}
#signupbtn {
  position: relative;
  background-color: rgb(101, 167, 241);
  width: 60%;
  height: 30px;
  border-radius: 25px;
}
#registerbtn {
  position: relative;
  background-color: rgb(101, 167, 241);
  width: 40%;
  height: 30px;
  border-radius: 25px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.sidebar {
  position: fixed;
  background-image: linear-gradient(rgb(142, 210, 241), rgb(43, 159, 236));
  top: 30%;
  width: 6%;
  height: 28%;
  transition: 0.5s;
}
.sidebarExpanded {
  position: fixed;
  background-image: linear-gradient(rgb(142, 210, 241), rgb(43, 159, 236));
  top: 0%;
  width: 10%;
  height: 100%;
  transition: 0.5s;
}
.navBtn {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.5s;
}
.fa-address-card {
  margin-bottom: 0;
}
.navBtnExpanded {
  position: relative;
  width: 100%;
  transition: 0.5s;
}
/* .review-post {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    margin: auto;
    width: 600px;
}

.review-post .review-name {
    display: flex;
    justify-content: start;
} */

.displaytoggle {
  position: relative;
  top: 43%;
  right: 15%;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  top: 2px;
  left: 55px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.newsfeedContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.newsfeed {
  border-color: white;
  text-align: center;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%;
  background-image: linear-gradient(rgb(142, 210, 241), rgb(43, 159, 236));
  height: 100%;
}
.postInfo {
  position: relative;
  margin: 2%;
  padding: 15px;
  background-color: white;
}
.helpfulContainer {
  position: absolute;
  text-align: end;
  background-color: white;
}
#addCommentBtn {
  background-color: rgb(82, 255, 47);
}
#viewComments {
  margin-left: 4%;
  text-decoration: none;
}
.commentsContainer {
  position: relative;
  margin: 2%;
  padding: 15px;
  background-color: white;
}
.comments {
  background-color: grey;
}
#addressContainer {
  position: relative;
  display:inline-block;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
#typeOfCarContainer {
  position: relative;
  display: inline-block;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
#sizeOfCarContainer {
  position: relative;
  display: inline-block;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
#title {
  font-size: xx-large;
}
